html {
  font-size: 16px;
}

body {
  font: 1rem/1.3 Verdana, Geneva, Tahoma, sans-serif;
}

#welcome {
  font-size: larger;
  color: blue;
  text-shadow: 0.1rem 0.1rem 0.25rem gray;
}

article h2 {
  font-variant: small-caps;
}

article p {
  line-height: 2;
}

aside label {
  font-weight: bold;
}

footer {
  font-size: smaller;
  font-style: italic;
  text-align: center;
}

a {
  text-decoration: none;
}

#purpose a {
  text-decoration: underline;
}

#article1 {
  text-align: center;
  word-break: none;
  text-indent: 10%;
}

#article2 {
  text-align: center;
  word-break: none;
  text-indent: 10%;
}

aside {
  text-align: right;
}

footer a {
  text-decoration: underline;
}
